<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.taihu.logistics.mapper.UserMapper">
	<sql id="usersql">
		select * from user left join user_info on user.user_id=user_info.user_info_id
	</sql>
	<resultMap type="User" id="userRM" autoMapping="true">
		<id column="user_id" property="userId" />
		<association property="userInfo" javaType="UserInfo">
			<id column="user_info_id" property="userInfoId"/>
			<result column="name" property="name"/>
			<result column="card_no" property="cardNo"/>
			<result column="tel" property="tel"/>
			<result column="email" property="email"/>
			<result column="company" property="company"/>
			<result column="remark" property="remark"/>
		</association>
	</resultMap>
	
	<select id="findAll" resultMap="userRM">
	<include refid="usersql"/>
	</select>
	<select id="login" resultMap="userRM">
	<include refid="usersql"/> where username=#{username} and password=#{password}
	</select>
	<select id="findOneById" resultMap="userRM">
	<include refid="usersql"/> where user_id=#{userId}
	</select>
	<insert id="saveUser">
	INSERT INTO user (user_id,username,password,user_state,create_time) 
	VALUES
	(#{userId},#{username},#{password},#{userState},#{createTime})
	</insert>
	<update id="updateUser">
	update user set username=#{username} where user_id=#{userId}
	</update>
	
	<insert id="saveUserAndRole">
		INSERT INTO role_user (role_id,user_id) VALUES
		<foreach collection="roleIds" item="roleId" separator=",">
			(#{roleId},#{userId})
		</foreach>
	</insert>
	
	<update id="changeState">
	UPDATE user SET user_state=#{userState} WHERE user_id in 
		<!-- 因为传递过来的是map 所以collection中写key -->
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	<select id="findOneByUsername" resultMap="userRM">
		<include refid="usersql"/> where username=#{username} 
	</select>
	
	<select id="findModuleNamesBy" resultType="String">
		SELECT NAME FROM module WHERE module_id IN (SELECT module_id FROM role_module WHERE role_id IN (SELECT role_id FROM role_user WHERE user_id=#{userId}))
	</select>
	
</mapper>